[
  "repository.theworms",
  "/chemin/vers/kodi-addon-protonvpn",
  "/chemin/vers/kodi-addon-soundcloud",
  "/chemin/vers/kodi-addon-radio/plugin.audio.radio",
  "/chemin/vers/kodi-addon-meteo/weather.meteoconcept",
  "/chemin/vers/kodi-addon-emby/plugin.video.embycon",
  "/chemin/vers/kodi-addon-keyboardbattery"
]
